## National Basketball Association Most Valuable Player Machine Learning Project

Dataset From: https://www.kaggle.com/datasets/robertsunderhaft/nba-player-season-statistics-with-mvp-win-share?resource=download

In [1]:
#import tensorflow as tf
import pandas as pd
import numpy as np
import sklearn as skl

In [2]:
#Import Data

df = pd.read_csv("mvp-data.csv",header=0,index_col=False)

#Clean up data

#TODO: Convert pos column to numeric (1-5) or remove it

#TODO: Extract award_share column (y-data), potentially assign a binary distribution (WARNING: this would require either manual input or sorting by year)

#TODO: Remove any columns not wanted for training

df.head()

,season,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,fga_per_g,...,ws,ws_per_48,obpm,dbpm,bpm,vorp,award_share,mov,mov_adj,win_loss_pct
0,1982,Kareem Abdul-Jabbar,5,34,LAL,76,76,35.2,9.9,17.1,...,10.7,0.192,3.8,1.2,5.0,4.7,0.045,4.87,4.37,0.695
1,1982,Alvan Adams,5,27,PHO,79,75,30.3,6.4,13.0,...,7.2,0.144,1.4,2.2,3.6,3.4,0.000,3.45,3.05,0.561
2,1982,Mark Aguirre,3,22,DAL,51,20,28.8,7.5,16.1,...,1.9,0.061,2.3,-1.6,0.7,1.0,0.000,-4.43,-4.48,0.341
3,1982,Danny Ainge,2,22,BOS,53,1,10.6,1.5,4.2,...,0.5,0.042,-3.7,1.0,-2.7,-0.1,0.000,6.38,6.35,0.768
4,1982,Tiny Archibald,1,33,BOS,68,51,31.9,4.5,9.6,...,5.2,0.115,1.4,-1.3,0.1,1.1,0.000,6.38,6.35,0.768

In [3]:
print(df.shape)

(17697, 55)

In [4]:
# Remove index, season columns, Team ID, Remove Player Name column
# could reset_index later   df.reset_index()
df = df.drop(['season','team_id','player'],axis=1)  # I feel like we need to figure out columns that we really needed
df.head()

,pos,age,g,gs,mp_per_g,fg_per_g,fga_per_g,fg_pct,fg3_per_g,fg3a_per_g,...,ws,ws_per_48,obpm,dbpm,bpm,vorp,award_share,mov,mov_adj,win_loss_pct
0,5,34,76,76,35.2,9.9,17.1,0.579,0.0,0.0,...,10.7,0.192,3.8,1.2,5.0,4.7,0.045,4.87,4.37,0.695
1,5,27,79,75,30.3,6.4,13.0,0.494,0.0,0.0,...,7.2,0.144,1.4,2.2,3.6,3.4,0.000,3.45,3.05,0.561
2,3,22,51,20,28.8,7.5,16.1,0.465,0.5,1.4,...,1.9,0.061,2.3,-1.6,0.7,1.0,0.000,-4.43,-4.48,0.341
3,2,22,53,1,10.6,1.5,4.2,0.357,0.1,0.3,...,0.5,0.042,-3.7,1.0,-2.7,-0.1,0.000,6.38,6.35,0.768
4,1,33,68,51,31.9,4.5,9.6,0.472,0.1,0.2,...,5.2,0.115,1.4,-1.3,0.1,1.1,0.000,6.38,6.35,0.768

In [5]:
Y=df['award_share']
Y

0        0.045
1        0.000
2        0.000
3        0.000
4        0.000
         ...
17692    0.000
17693    0.000
17694    0.000
17695    0.000
17696    0.000
Name: award_share, Length: 17697, dtype: float64